<div class="row">
  <div class="col-lg-12">
    <div class="card p-5">
    
      <%= form_with(model: usuario) do |form| %>
        <% if usuario.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
      
            <ul>
              <% usuario.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div>
          <%= form.label :nombre, style: "display: block" %>
          <%= form.text_field :nombre, placeholder: 'Nombre' %>
        </div>
      
        <div>
          <%= form.label :apellido, style: "display: block" %>
          <%= form.text_field :apellido, placeholder: 'Apellido' %>
        </div>
      
        <div>
          <%= form.label :diadenacimiento, style: "display: block" %>
          <%= form.text_field :diadenacimiento, placeholder: 'Día' %>
        </div>

        <div>
          <%= form.label :mesdenacimiento, style: "display: block" %>
          <%= form.text_field :mesdenacimiento, placeholder: 'Mes' %>
        </div>

        <div>
          <%= form.label :aniodenacimiento, style: "display: block" %>
          <%= form.text_field :aniodenacimiento, placeholder: 'Año' %>
        </div>
      
        <div>
          <%= form.label :dni, style: "display: block" %>
          <%= form.text_field :dni, placeholder: 'DNI' %>
        </div>
      
        <div>
          <%= form.label :edad, style: "display: block" %>
          <%= form.text_field :edad, placeholder: 'Edad' %>
        </div>
      <br>
        <div>
          <%= form.submit "Enviar", class: 'btn btn-primary' %>
        </div>
      <% end %>

    </div>
  </div>
</div>